{% load static %}

<!-- Bower JS Lib -->
<!-- <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.js' %}"></script>
<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script> -->

<!-- App -->
<!-- <script src="{% static 'scripts/rideCell.js' %}"></script>
<script src="{% static 'scripts/rideCell.config.js' %}"></script>
<script src="{% static 'scripts/rideCell.routes.js' %}"></script> -->

<!-- Main -->
<!-- <script src="{% static 'scripts/main/main.module.js' %}"></script>
<script src="{% static 'scripts/main/services/main.services.js' %}"></script>
<script src="{% static 'scripts/main/controllers/app.controller.js' %}"></script>
<script src="{% static 'scripts/main/controllers/reserve.modal.controller.js' %}"></script> -->

<script src="{% static 'js/bower.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>